// ----------- variable -----------
$body-background-color: #1e2b34;
$break-point: 768px;

// dashboard header
$header-height: 50px;

$header-button-active-background-color: #e7e7e7;
$header-button-label-font-size: 12px;
$header-button-label-big-font-size: 135%;

$header-dropdown-menu-font-size: 12px;
$header-dropdown-item-hover-background-color: #f5f5f5;
$header-dropdown-title-color: #15232c;
$header-dropdown-sub-title-color: #777;
$header-dropdown-separator-color: #e5e5e5;
$header-dropdown-menu-backgroun-color: #fff;

$header-content-font-size: 13px;

$header-toggle-border-color: #15232c;
$header-toggle-color: #15232c;

// dashboard body
$dashboard-body-col-border-color: #18252e;
// body panel
$panel-header-height: 38px;
$panel-header-color: #fff;
$panel-header-font-size: 16px;
$panel-header-background-color: #2f3d45;
$panel-header-border-bottom-color: #18252e;

// volume table
$volume-table-font-size: 90%;
$volume-table-color: #fff;
$volume-table-hover-background-color: #1b2831;

// text box
$text-box-header-color: #f00;
$text-box-content-color: #fff;
$text-box-link-color: #ccc;
$text-box-font-size: 90%;

// ----------- scss -----------
.verticle-center {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    font-size: 13px !important;
    font-family: "Open Sans", sans-serif !important;
}

body,
html {
    width: 100%;
    height: 100%;
}

// padding
@for $i from 0 through 100 {
    .padding-#{$i} {
        padding: #{$i}px;
    }
}

// custom scrollbar
.dashboard-body {
    ::-webkit-scrollbar, .scroll::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb {
        background-color: #233540;
        border: 1px solid #233540;
        transition: all 0.2s ease-out;
    }
    ::-webkit-scrollbar-track, .scroll::-webkit-scrollbar-track {
        background: #15232c;
    }
}

.dashboard-header {
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-track {
    background: #fff;
    }
    ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 1px solid #ccc;
    transition: all 0.2s ease-out;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    }
}
    
// custom bootstrap vue
.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;

    .tab-header {
        overflow: hidden;
        border-bottom: 1px solid #15232c;
        flex: 0 0 35px;
        display: flex;
        align-items: stretch;

        .nav.nav-tabs {
            padding: 0;
            margin: 0;
            list-style-type: none;
            overflow-x: auto;
            flex-grow: 1;
            display: flex;
            flex-wrap: unset;
            justify-content: space-between;
            align-items: stretch;
            border: none;
            overflow: hidden;

            .nav-item {
                width: 100%;
                cursor: pointer;

                a {
                    outline: none;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: background-color 0.25s ease-in-out;
                    font-size: 90%;
                    background: #2f3d45;
                    color: #fff;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 15px !important;
                    border-radius: 0 !important;


                    &.active {
                        color: #fff;
                        background: #15232c;
                        border: 0;
                    }
                }
            }
        }
    }

    .tab-content {
        flex: 1 1 auto;
        display: flex;
        align-items: stretch;

        .tab-pane {
            width: 100%;
        }
    }
}

input.form-control {
    width: 100%;
    height: 100%;
    padding: 8px 5px 8px 10px;
    border: 1px solid #565f66;
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: left;
    outline: 0;
    box-shadow: none;
    background-color: #404a52;
    transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    background-image: none;

    &:focus,
    &:hover {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
    &:disabled, 
    &[readonly] {
        background-color: #1e2b34;
    }
}

form {
    fieldset {
        padding: 0;
        border: none;
        margin: 0;
        margin-bottom: 15px;

        label {
            color: white;
            font-size: 90%;
            font-weight: bold;
            display: flex;
            align-items: center;
            text-align: right;
        }
    }
}

.btn {
    flex: 1;
    border: none;
    border-radius: 0 !important;
    font-size: 12px !important;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    user-select: none;
    background-color: #3d84d6 !important;
    transition: background-color 0.2s ease-in-out;
    outline: none !important;

    &.btn-success {
        color: #fff;
        background-color: #4da53c !important;
    }
    &.btn-danger {
        background-color: #ff6939 !important;
    }
    &.btn--full-width {
        width: 100%;
    }
    &.btn-primary {
        background-color: #3d84d6 !important;
    }
    &:hover, 
    &:focus {
        box-shadow: none !important;
    }
}

.table {
    font-size: 90%;
    th, td {
        border: none !important;
        font-weight: normal;
        padding: 2px !important;
    }
}
.table--collapse {
    border-collapse: collapse; 
}
.table__head {
    height: 25px;
    border-bottom: 1px solid #666666;
    vertical-align: bottom;

    th, td {
        color: #fff;
        text-align: center;
    }
    &.table__head--partition {
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        font-weight: bold;

        th, td {
            vertical-align: middle;
        }
    }
    &.table__head--balance {
        height: 25px;
        border-bottom: 1px solid #666666;
        vertical-align: bottom;

        th, td {
            padding: 8px !important;
            line-height: 1.42857143;
            vertical-align: top;
        }
    }
}
.table__row {
    td {
        color: white;
        text-align: center;

        a {
            color: white;
        }
        &.table__td--red {
            color: red;
        }
        &.table__td--green {
            color: green;
        }
    }
    &:hover {
        background-color: #1b2831;
    }
    &.table__row--partition {
        cursor: pointer;
    }
    &.table__row--balance {
        td {
            padding: 8px !important;
            line-height: 1.42857143;
            vertical-align: top;

            input {
            }
        }
    }
}

.modal {
    ::-webkit-scrollbar, .scroll::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb {
        background-color: #233540;
        border: 1px solid #233540;
        transition: all 0.2s ease-out;
    }
    ::-webkit-scrollbar-track, .scroll::-webkit-scrollbar-track {
        background: #15232c;
    }

    &.modal--expand {
        .modal-content {
            .modal-body {
                padding: 0 !important;
            }
        }
    }
    
    .modal-content {
        color: #ced2d5;
        background: #1e2b34;

        .modal-header {
            color: #ced2d5;
            background: #1e2b34;
            border-bottom: 2px solid #18252e;

            .close {
                color: #fff;
                opacity: 0.5;
                transition: color 0.2s ease-in-out;
                font-size: 21px;

                &:hover,
                &:focus {
                    color: inherit;
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .modal-body {
            color: #ced2d5;
            background: #1e2b34;
            max-height: 600px;
            overflow: auto;

            label {
                font-weight: bold;
            }
        }
        .modal-footer {
            color: #ced2d5;
            background: #1e2b34;
            border-top: 2px solid #18252e;
            display: block;
            text-align: right
        }
    }
}

// ----------- light theme -----------

$light-color-1: #585e63;
$light-color-2: #3b4048;
$light-color-3: #36383e;
$light-color-4: #979da9;
$light-color-5: #f1f5f8;
$light-color-6: #d3dce2;
$light-color-7: #e8ecf3;
$light-color-8: #ff7700;


#app.light {
    ::-webkit-scrollbar-thumb {
        border: 0px none #ffffff;
        border-radius: 31px;
        background: $light-color-4;
    }

    ::-webkit-scrollbar-track {
        border: 0px none #ffffff;
        border-radius: 50px;
        background: $light-color-5;
    }

    .dashboard {
        .dashboard__header {
            .dashboard-header {
                z-index: 1000;
                border: none;
                box-shadow: 0px 0px 5px 0px #00000073;
            }
        }
        .dashboard__body {
            background-color: $light-color-5;

            .dashboard-body {
                .dashboard-body__col {
                    border-color: $light-color-7;
                }
            }
        }
    }

    .panel {
        border-bottom: 1px solid $light-color-7;
        .panel__header {
            color: $light-color-1;
            background-color: $light-color-6;
            border-bottom: none;
        }
    }

    .tabs {
        .tab-header {
            border: none;
            .nav.nav-tabs {
                .nav-item {
                    a {
                        background-color: #f9f9f9;
                        color: #66686b;
                        border-bottom: 2px solid rgba(14, 14, 14, 0.1);

                        &.active {
                            color: $light-color-8;
                            border-bottom: 2px solid $light-color-8 !important;
                        }

                        &:hover{
                            border: none;
                            border-bottom: 2px solid $light-color-8 !important;
                        }
                    }
                }
            }
        }
    }

    .table__head {
        border-color: $light-color-2;
    
        th, td {
            color: $light-color-2;
            text-align: center;
        }
    }
    .table__row {
        td {
            color: $light-color-2;
            text-align: center;
    
            a {
                color: $light-color-2;
            }
            &.table__td--red {
                color: red;
            }
            &.table__td--green {
                color: green;
            }
        }
        &:hover {
            background-color: $light-color-6;
        }
    }

    input.form-control {
        border: 1px solid #e1e3e6;
        color: $light-color-2;
        background-color: #fff;
    
        &:focus,
        &:hover {
            border-color: #ccc;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(106, 108, 110, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(106, 108, 110, 0.6);
        }
        &:disabled, 
        &[readonly] {
            background-color: #ddd;
        }
    }
    form {
        fieldset {
            label {
                color: $light-color-2;
            }
        }
    }

    .btn {
        background-color: $light-color-8 !important;
        border: none;
        border-radius: 3px !important;
    
        &.btn-success {
            color: #fff;
            background-color: #2bab3f !important;
        }
        &.btn-danger {
            background-color: #da4830 !important;
        }
        &.btn--full-width {
            width: 100%;
        }
        &.btn-primary {
            background-color: $light-color-8 !important;
        }
    }

    .modal {        
        .modal-content {
            color: #000;
            background: #fff !important;
    
            .modal-header {
                color: #000;
                background: #fff;
                border-bottom: 1px solid #e9ecef;
    
                .close {
                    color: #fff;
                }
            }
            .modal-body {
                color: #000;
                background: #fff;
    
                label {
                    font-weight: bold;
                }
            }
            .modal-footer {
                color: #000;
                background: #fff;
                border-top: 1px solid #e9ecef;
            }
        }
    }

    .text-box {
        .text-box__header {
            color: $text-box-header-color; 
        }

        .text-box__content {
            color: $light-color-2;
        }

        .text-box__link {
            color: #007bff;
        }
    }

    .volume-table {
        .volume-table__content {
            .volume-table__item {
                color: $light-color-2;

                &:hover {
                    background-color: $light-color-6;
                }
            }
        }
    }
}